div(class="content-block my-addss-page")
 div(class="my_adds_block")
  div(class="my_adds_body")
   div(class="my_adds_item withborder")
    .row
     div(class="card-star act")
      span 18:26
     div(class="card-info myadds")
      p(class="card-info-p withoutup")
       a(href="#") Предлагаем увлекательную работу для водителей и грузчиков
      div(class="card-info-footer")
       a(href="#", class="card-info-img") 2 фото
       span(class="card-user-acept") Пользователь верифицирован
     div(class="card-price")
      p(class="card-price-p") от 30 000 ₽
      a(href="#", class="card-location") Россия, МОсква
   div(class="my_adds_item withborder")
    .row
     div(class="card-star act")
      span 18:26
     div(class="card-info myadds")
      p(class="card-info-p withoutup")
       a(href="#") Повар из Грузии принимает заказы
      div(class="card-info-footer")
       a(href="#", class="card-info-img") 5 фото
       span(class="card-user-acept") Пользователь верифицирован
     div(class="card-price")
      a(href="#", class="card-location withoutprice") Россия, Казань
   div(class="my_adds_item withborder")
    .row
     div(class="card-star act")
      span 18:26
     div(class="card-info myadds")
      p(class="card-info-p withoutup")
       a(href="#") ИЩУ РАБОТУ В РЕСТОРАНЕ
      div(class="card-info-footer")
       span(class="card-user-acept") Пользователь верифицирован
     div(class="card-price")
      p(class="card-price-p") от 20 000 ₽
      a(href="#", class="card-location") Россия
   div(class="my_adds_item withborder")
    .row
     div(class="card-star act")
      span 18:26
     div(class="card-info myadds")
      p(class="card-info-p withoutup")
       a(href="#") Ищу работу официантом в приличном ресторане
      div(class="card-info-footer")
       span(class="card-user-acept") Пользователь верифицирован
     div(class="card-price")
      p(class="card-price-p") от 20 000 ₽
      a(href="#", class="card-location") Россия