header
 div(id="head-fix")
  .logo-blocks
   .center
    .row
     div(class="logo-bl-small")
      a(href="index.html", id="logo-small") 
     div(class="fixed-btn")
      button
       div Добавить объявление
     div(class="logo-bl")
      a(href="index.html", id="logo")
     div(class="location-block col-lg-2 col-md-2")
      a(href="#", class="location-link")
       span Россия, Санкт-Петербург
       div(class="choose-region")
        p Ваш регион
        span Россия, Санкт-Петербург
        div(class="choose-region-btn")
         button(class="choose-region-btn-l")
          div Верно
         button(class="choose-region-btn-r")
          div Другой
     div(class="search-block-fixed")
      button
     div(class="search-block col-lg-5 col-md-4")
      div(class="search-item")
       div(class="search-input")
        input(typy="text", id='input_search')
        button
       button(class="search-btn")
        span Найти
     div(class="reg-block")
      .row
       button(class="reg-block-btn-l")
        div Регистрация
       button(class="reg-block-btn-r")
       
       
  

