div(class="my_adds_heads my_adds_heads--mob")
    ul
        li
            a(href="my_adds2.html") Опубликованные
                span (3)
        li
            a(href="#") В очереди
        li
            a(href="my_adds.html", class="act") Черновики
                span (1)
        li
            a(href="#") На модерации
                span (2)