div(class="my_adds_heads my_adds_heads--mob scor-p")
    ul
        li
            a(href="scores.html", class="act") Баланс
        li
            a(href="scores2.html") Начисления
        li
            a(href="my_adds.html") Расходы